<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title th:text="${title}">Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css"  th:href="@{/css/starter-template.css}" rel="stylesheet">
  </head>
<body>
<div th:replace="~{block/header::headerA}"></div>
<main role="main" class="container">
  <div class="starter-template">
    <h1 th:text="${title}">Bootstrap starter template</h1>
    <p class="lead">Please confirm the information you entered.</p>
  </div>
  <div th:object="${surveyForm}">
    <div class="mb-5">
      <ul class="list-group">
        <li class="list-group-item" th:text="*{age}"></li>
        <li class="list-group-item" th:text="*{satisfaction}"></li>
        <li class="list-group-item" th:text="*{comment}"></li>
      </ul>
    </div>
    <form method="post" th:action="@{/survey/form}">
      <input type="hidden" name="age" th:value="*{age}">
      <input type="hidden" name="satisfaction" th:value="*{satisfaction}">
      <input type="hidden" name="comment" th:value="*{comment}">  
      <input type="submit" class="btn btn-primary mb-2" value="Go Back">  
    </form>
    <form method="post" th:action="@{/survey/complete}">
      <input type="hidden" name="age" th:value="*{age}">
      <input type="hidden" name="satisfaction" th:value="*{satisfaction}">
      <input type="hidden" name="comment" th:value="*{comment}">  
      <input type="submit" class="btn btn-primary" value="Complete">  
    </form>
  </div>
 </main>
</body>
</html>